<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type='image/ico' href="static/love.ico">
    <title>Let's Love</title>
  </head>
  <body background="static/blue.jpg">
    <h1 style="text-align: center;"><span style="color: #ccffff;">Love makes two hearts one</span></h1>
    <h3 style="text-align: center;"><span style="color: #ccffff;"><em>You want to find?</em></span></h3>
    <img src="static/girl.jpg" alt="this is an image" style="width:200px; margin:20px 0 0 490px;"><a href="{{url_for('find',g=0)}}" >FIND</a>
    <img src="static/boy.jpg" alt="this is an image" style="width:200px; margin:20px 0 0 100px;"><a href="{{url_for('find',g=1)}}" >FIND</a>
    <br>
    <br>
    {% if session %}
    <h3 style="text-align: right;">{{session.loggedin}}</h3>
    <h3 style="text-align: right;">{{session.account}}</h3>
    <h4 style="text-align: right;"><a href="{{url_for('logout')}}">Log Out</a></h4>
    {%else%}
    <h4 style="text-align: right;"><a href="{{url_for('login')}}">Log In</a></h4>
    <h4 style="text-align: right;"><a href="{{url_for('signin')}}">Sign In</a></h4>
    {%endif%}

  </body>
</html>
