<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type='image/ico' href="../static/icon.ico">
    <title>New Service</title>
  </head>
  <body>
<h1>New Service</h1>
<form method="post">
  <label>Name</label>
  <input type="text" name="name" value="Nguyễn Văn A">
  <br>
  <br>
  <label>Yob</label>
  <input type="text" name="yob" value="1990">
  <br>
  <br>
  <label>Phone:</label>
  <br>
  <input type="text" name="phone" value="0123456789">
  <br>
  <br>
  <label>Gender:</label>
  <br>
  <input type="radio" name="gender" value=1 checked> Male
  <br>
  <input type="radio" name="gender" value=0> Female
  <br>
  <br>
  <input type="submit" name="" value="Submit">
</form>
  </body>
</html>
