<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type='image/ico' href="../static/icon.ico">
    <title>ADMIN ORDER</title>
  </head>
  <body>
<h1>Admin page order</h1>

<table border="1px">
<thead style="background-color:#e1e1e1;overflow:hidden" >
  <th>No</th>
  <th>Service</th>
  <th>User</th>
  <th>Time request</th>
  <th></th>

  </thead>
<tbody>
  {% for order in all_order %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{order.service_name}}</td>
    <td>{{order.service_user}}</td>
    <td>{{order.time}}</td>
    <td>{{order.is_accepted}}</td>
    <td>
      {%if order.is_accepted == false %}
      <a href="{{ url_for('accept',order_id=order.id) }}">accept</a>
      {%endif%}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

  </body>
</html>
