<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type='image/ico' href="../static/love.ico">
    <title>Service</title>
  </head>
  <body background="static/blue.jpg">
<h1>Service page</h1>
{%for service in all_service%}
  <div>
    <p><img src={{service.image}} alt="image"></p>
    <p>Name: {{service.name}}</p>
    <p>YOB: {{service.yob}}</p>
    <p>Height: {{service.height}}</p>
    <p>
        <a href="{{ url_for('detail', service_id=service.id) }}">Detail</a>
    </p>
    <hr>
  </div>
{%endfor%}
  </body>
</html>
