<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Admin route </title>
  </head>
  <body>
    <h1>Đây là trang của admin</h1>
    <table border="1px">
      <thead>
        <th>STT</th>
        <th>name</th>
        <th>yob</th>
        <th>gender</th>
        <th>height</th>
        <th>phone</th>
        <th>status</th>
        <th>address</th>
        <th>Sửa/xóa</th>
      </thead>
      <tbody>
        {%for service in all_services%}

         <tr>
           <td>{{loop.index}}</td>
           <td>{{service.name}}</td>
           <td>{{service.yob}}</td>
           <td>
             {{"Nam" if service.gender ==1 else "Nữ"}}
           </td>
           <td>{{service.height}}</td>
           <td>{{service.phone}}</td>
           <td>
             {{"Rảnh" if service.status else "Bận"}}
           </td>
           <td>{{service.address}}</td>
           <td>
             <a href="{{url_for('update', service_id=service.id)}}">Sửa</a>
             <a href="{{url_for('delete', service_id=service.id)}}">Xóa</a>
           </td>
         </tr>

         {%endfor%}
      </tbody>
    </table>
  </body>
</html>
