<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service page</title>
  </head>
  <body>
<h1>Service page</h1>
{%for service in all_services%}
  <div>
    <p><img src={{service.image}} alt="image"></p>
    <p><b>Name: </b> {{service.name}}</p>
    <p><b>YOB: </b>{{service.yob}}</p>
    <p><b>Height: </b> {{service.height}}</p>
    <p>
        <a href="{{ url_for('detail_id', service_id=service.id) }}">Detail</a>
    </p>
    
    <hr>
  </div>
{%endfor%}
  </body>
</html>
