.bg{
  background: url(office-desk.png) center fixed no-repeat;
  background-size: cover;
}
.bg-black {
  background: rgb(0,0,0);
}
.border{
  border-radius: 12px;
}
.circle{
  border-radius: 100%;
}
#flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
#flex1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#flex2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-650{
  height: 650px;
}
.h-350{
  height: 350px;
}
.h-200{
  height: 210px;
}
.h-10{
  height: 10px;
}
.h-400{
  height: 400px;
}
.w-90{
  width: 90%;
}
.w-25{
  width: 25%;
}
.w-80{
  width: 80%;
}
.w-70{
  width: 70%;
}
