<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> CSS lesson</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>


    <style>
      selector {
          property: value;
      }
      h1 {
        color: red;
      }
      h2 {
        color: blue;
      }

      #heading2 {
        color: green;
        font-family: 'Montserrat', sans-serif;
        font-size: :40px
      }
      .text-right {
        text-align: right;
      }
    </style>
    </head>
    <body>
    <h1> CSS lesson </h1>
    <h2> Heading level 2</h2>
    <h2 id='heading2'> Another heading lv2</h2>

    <h3 class='text-right'> Heading lv 3</h3>
    <h3> Heading lv 3</h3>
    <h3> Heading lv 3</h3>
    <h3> Heading lv 3</h3>

  </body>
</html>
